# ──────────────────────────────────────────────
# API Gateway — Environment Configuration
# ──────────────────────────────────────────────

ENVIRONMENT=dev
SECRET_KEY=change_me_to_a_random_secret
ALLOWED_ORIGINS=http://localhost:8000,http://localhost:8501

# Master DB
MASTER_DB_URL=postgresql://postgres:nasr@localhost:5432/hospital-db

# Redis
REDIS_URL=redis://localhost:6379/0

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=hospital-realm
KEYCLOAK_CLIENT_ID=hospital-api
KEYCLOAK_CLIENT_SECRET=change_me
KEYCLOAK_INTROSPECT=true

# Tenant DB encryption
TENANT_DB_ENCRYPTION_KEY=ZXlKcGMzUWlPaUprYVhOamRXVnpZM0psY3lJc0luTjFZaUk2SWpFaUxDSnVZVzFsSWpvaU1EQWlMQ0pqYldGMFpXNTBYM1I1Y0dVaU9pSXhNREFpTENKemVtRnRaU0k2SWpFd01D

# Downstream services
AUTH_SERVICE_URL=http://localhost:8001
MASTER_SERVICE_URL=http://localhost:8002
ADMIN_SERVICE_URL=http://localhost:8003
RECEPTION_SERVICE_URL=http://localhost:8004
TRIAGE_SERVICE_URL=http://localhost:8005
CONSULTATION_SERVICE_URL=http://localhost:8006
LABORATORY_SERVICE_URL=http://localhost:8007
RADIOLOGY_SERVICE_URL=http://localhost:8008
PHARMACY_SERVICE_URL=http://localhost:8009
BILLING_SERVICE_URL=http://localhost:8010
WARD_SERVICE_URL=http://localhost:8011
NOTIFICATION_SERVICE_URL=http://localhost:8012
REPORT_SERVICE_URL=http://localhost:8013
