fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-keycloak
passlib[bcrypt]
pyotp
psycopg2-binary
asyncpg
redis[hiredis]
slowapi
cachetools
cryptography
apscheduler
pytest
pytest-asyncio
httpx
python-dotenv
aio-pika
psutil
