fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-keycloak
passlib[bcrypt]
pyotp
psycopg2-binary
asyncpg
redis[hiredis]
slowapi
cachetools
cryptography
apscheduler
pytest==9.1.1
pytest-asyncio==1.4.0
httpx
python-dotenv
aio-pika
psutil
aiosmtplib
reportlab
