fastapi
uvicorn[standard]
sqlalchemy[asyncio]
pydantic[email]
pydantic-settings
python-jose[cryptography]
redis[hiredis]
slowapi
cachetools
cryptography
httpx
pytest==9.1.1
pytest-asyncio==1.4.0
python-dotenv
passlib[bcrypt]
pyotp
psycopg2-binary
asyncpg
bcrypt
aio-pika
alembic
aiosmtplib
