fastapi
uvicorn[standard]
sqlalchemy[asyncio]
pydantic[email]
pydantic-settings
python-jose[cryptography]
redis[hiredis]
slowapi
cachetools
cryptography
httpx
pytest
pytest-asyncio
python-dotenv
passlib[bcrypt]
pyotp
psycopg2-binary
asyncpg
bcrypt
aio-pika
alembic
aiosmtplib
